{% import "macros/form.html" as form %}

{% macro input_required() %}
{% endmacro %}

<form id="user-register-form" class="form-horizontal" action="" method="post">
  {{ form.errors(error_summary) }}
  {{ form.input("name", id="field-username", label=_("Username"), placeholder=_("username"), value=data.name, error=errors.name, classes=["control-medium"]) }}
  {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname, classes=["control-medium"]) }}
  {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"]) }}
  {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"]) }}
  {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password1, classes=["control-medium"]) }}

  <div class="control-group control-full">
    <label class="control-label" for="field-gdpr-text">Terms of use</label>
    <div class="controls">
      <div style="width: 500px;height: 300px;overflow: auto;">
        {{ h.get_gdpr().tos | safe }}
      </div>
    </div>
  </div>

  {% for policy in h.get_policies(h.get_gdpr().id) %}
    <div class="control-group">
      <div class="controls">
        <label class="checkbox" for="field-terms-of-use">
          <input name="policy-{{ policy.id }}" id="policy-{{ policy.id }}" value="True" type="checkbox">
          {{ policy.content | safe }}
          {% if policy.required %}
            <span title="This field is required" class="control-required">*</span>
          {% endif %}
        </label>
      </div>
    </div>
  {% endfor %}

  {{ form.required_message() }}

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  <div class="form-actions">
    {% block form_actions %}
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create Account") }}</button>
    {% endblock %}
  </div>
</form>
