{% extends 'page.html' %}

{% block subtitle %}{{ _('Terms of Service') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Terms of Service'), controller='ckanext.gdpr.controller:GDPRController', action='gdpr') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Define the Terms of Service') }}{% endblock %}
      </h1>
      <form method="POST" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="tos">Terms of Service</label>
          <div class="controls">
            <textarea class="form-control" name="tos" style="min-width: 80%" id="tos" placeholder="Enter your TOS here..." rows="5" cols="20">{{ c.tos }}</textarea>
          </div>
        </div>
        <div id="policies">
          <legend>Policies <button type="button" class="btn btn-success" onclick="javascript:addPolicy();"><i class="fa fa-plus" aria-hidden="true"></i></button></legend>
          {% if c.policies %}
            {% for policy in c.policies %}
              <div>
                <div class="control-group">
                  <label class="control-label" for="{{policy.id}}">Policy</label>
                  <div class="controls">
                    <input type="text" name="{{policy.id}}" id="{{policy.id}}" placeholder="Describe here your policy..." style="min-width: 80%" value="{{policy.content}}">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox">
                      <input name= "required-{{policy.id}}" id="policy-{{policy.id}}-required" type="checkbox"> Required
                    </label>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div id="group-policy-0">
              <div class="control-group">
                <label class="control-label" for="policy-0">Policy</label>
                <div class="controls">
                  <input type="text" name="policy-0" id="policy-0" placeholder="Describe here your policy..." style="min-width: 80%">
                  <button type="button" class="btn btn-danger" onclick="javascript:removePolicy('group-policy-0')"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input name= "required-policy-0" id="policy-0-required" type="checkbox"> Required
                  </label>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('Define Terms of Service') }}</h2>
    <div class="module-content">
      <p>{% trans %}Define Terms of Service, policies and check who has accepted them{% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}


{% block scripts %}
  {{ super() }}

  <script>

    var policyCounter = 1;

    function addPolicy() {
      var policyHTML = `
      <div id="group-policy-${policyCounter}">
        <div class="control-group" id="group-policy-${policyCounter}">
          <label class="control-label" for="policy-${policyCounter}">Policy</label>
          <div class="controls">
            <input type="text" name="policy-${policyCounter}" id="policy-${policyCounter}" placeholder="Describe here your policy..." style="min-width: 80%">
            <button type="button" class="btn btn-danger" onclick="javascript:removePolicy('group-policy-${policyCounter}')"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input name= "required-policy-${policyCounter}" id="policy-${policyCounter}-required" type="checkbox"> Required
            </label>
          </div>
        </div>
      </div>
      `;

      $('#policies').append(policyHTML);
      policyCounter += 1;
    }

    function removePolicy(groupID) {
      $("#".concat(groupID)).remove();
    }

  </script>
{% endblock %}
